body {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  overflow-x: hidden;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
  border-bottom: 0.15rem orange solid;
}

#container-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(237, 237, 237);
  padding: 1.5rem;
}
#container-info > :hover {
  padding: 1rem;
  color: white;
  background-color: orange;
  cursor: pointer;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
#container-info > :hover .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#container-info > :not(:hover) {
  padding: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
#container-info > :not(:hover) .images {
  display: none;
}

.item-1:hover {
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.item-2:hover {
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.item-3:hover {
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.item-4:hover {
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.item-5:hover {
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.item-6:hover {
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.item-7:hover {
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}