$generalDimension : 100%;
$bodywidth : 100vw;
$bodyheight : 100vh;
$flexDisplay : flex;
$flexFlow1 : column;
$flexFlow2 : row;
$justifyCenter : center;
$justifyAround : space-around;
$alignCenter : center;

@function flexFlow($flow){
    @return $flow;
}
@function changeToLetter($size){
    @return $size + 1;
}
@function changeToPadding($padding){
    @return $padding - 1;
}
@mixin generalDimensions($width,$height){
    width: $width;
    height: $height;
}
@mixin displayFlex($display,$flow){
    display: $display;
    flex-direction: flexFlow($flow);
}
@mixin flexPosition($justify,$align){
    justify-content: $justify;
    align-items: $align;
}
@mixin invert($color){
    background-color: $color;
}

body {
    @include generalDimensions($bodywidth, $bodyheight);
    @include displayFlex($flexDisplay, $flexFlow1);
    @include flexPosition(space-between, $alignCenter);
    margin: 0;
    overflow-x: hidden;
}

#container-1{
    @include generalDimensions($generalDimension, 40rem);
    @include displayFlex($flexDisplay, $flexFlow1);
    @include flexPosition($justifyAround, '');
    margin: 1rem 0;
}
#container-2{
    @extend #container-1
}
    #container-1 :nth-child(1n+1){
        width: $generalDimension;
        @include displayFlex($flexDisplay, $flexFlow1);
        padding:.5rem;
        background-color: rgb(106, 106, 255);
    }
#container-1 ::-webkit-scrollbar {
    display: none;
}

#foot{
    border-top: .3rem solid black;
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
  @for $td from 0 through 6{
    td:hover{
        color: black;
        transform: scale();
        transition: 1s ease;
    }
    td:not(:hover){
        color: white;
        transform: scale();
        transition: 1s ease;
    }
  }

@for $th from 0 through 6{
    th:hover{
        color: black;
        transform: scale();
        transition: 1s ease;
    }
    th:not(:hover){
        color: white;
        transform: scale();
        transition: 1s ease;
    }
}

@for $container from 1 through 2{
    #container-#{$container}:hover{
        background-color: yellow;
        transform: scale();
        transition: 1s ease;
    }
    #container-#{$container}:not(:hover){
        color: blue;
        transform: scale();
        transition: 1s ease;
    }
}


@media (min-width: 764px){
    .navbar-brand{
        font-size: changeToLetter(.75rem);
    }
    #navbar{
        font-size: changeToLetter(.75rem);
        text-align: center;
    }
    #container-1 :nth-child(1n+1){
        font-size: changeToTabletLetter(.25rem);
        padding: changeToTabletPadding(2rem);
        @include invert(green)
    }
    #foot{
        padding: changeToTabletPadding(3rem) 0;
    }
    img{
        width: $generalDimension * 1.5;
    }
}

@media (min-width: 1024px){
    .navbar-brand{
        font-size: changeToLetter(2.5rem);
    }
    #navbar{
        font-size: changeToLetter(2.5rem);
        text-align: center;
    }

    #container-1{
        margin-top: 10rem;
    }
    #container-1 :nth-child(1n+1){
        font-size: changeToLetter(.85rem);
        padding: changeToPadding(2.5rem);
        @include invert(red)
    }
    #foot{
        padding: changeToTabletPadding(3rem) 0;
    }
    img{
        width: $generalDimension * 1.5;
    }
}

